/* 头部 */
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 76px;
    box-shadow: 0 0 8px #cecfcf inset;
    box-sizing: border-box;
}
.header{
    width: 1000px;
    height: 76px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 133px;
    height: 52px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.header ul{
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header ul li{
    height: 60px;
    line-height: 60px;
}
.header ul li a{
    color: #333;
    font-size: 20px;
    transition: color 0.2s ease;
}
.header ul li:nth-of-type(1) a{
    color: #fe5341;
}
.header ul li a:hover{
    color: #fe5341;
}
.sr{
    width: 300px;
}
.sr a{
    display: block;
    float: right;
}
.register{
    transition: all 0.2s linear;
    color: #fe5341;
    font-size: 16px;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    border: 1px #fe5341 solid;
}
.register:hover{
    background: #fe5341;
    color: #fff;
}
.search{
    width: 30px;
    height: 30px;
    background: url(../img/search.png) no-repeat center;
    margin-right: 30px;
}
.search:hover{
    scale: 1.1;
}
/* 底部 */
footer{
    width: 100%;
    background: #505050;
    color: #a3a3a3;
    height: 360px;
}
.footer{
    width: 1000px;
    margin: 0 auto;
    height: 360px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.footer p{
    margin-top: 20px;
}
dl{
    margin-top: 40px;
    font-size: 13px;
    line-height: 20px;
}
dl dt{
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}
dl dd a{
    color: #a3a3a3;
    font-size: 12px;
}
dl:nth-of-type(4) dd{
    display: flex;
    justify-content: space-between;
}
dl:nth-of-type(4) dd a{
    text-align: left;
    width: 64px;
}
