* {
  margin: 0;
  padding: 0;
}
/* banner */
.Banner {
  width: 100%;
  height: 300px;
  background: url(../img/original.jpg) no-repeat;
  background-size: cover;
}
.banner {
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  color: white;
  background: url(../img/original.jpg) no-repeat center;
}
.banner .banner_content {
  width: 100%;
  height: 300px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  animation: fadeInTopRight 0.8s forwards;
}
.banner .banner_content h2 {
  font-size: 34px;
}
.banner .banner_content .detail div {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 16px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.3);
}
.banner .banner_content .time {
  font-size: 18px;
}
.banner .banner_content .apply {
  width: 100%;
}
.banner .banner_content .apply a {
  display: inline-block;
  width: 242px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 24px;
  border-radius: 3px;
  background-color: #fe5341;
  cursor: pointer;
}
